@import url("//hello.myfonts.net/count/2ef157");

@font-face {font-family: 'BrixSlab-Bold';src: url('https://sensebox.de/css/webfonts/2EF157_0_0.eot');src: url('https://sensebox.de/css/webfonts/2EF157_0_0.eot?#iefix') format('embedded-opentype'),url('https://sensebox.de/css/webfonts/2EF157_0_0.woff2') format('woff2'),url('https://sensebox.de/css/webfonts/2EF157_0_0.woff') format('woff'),url('https://sensebox.de/css/webfonts/2EF157_0_0.ttf') format('truetype');}

@font-face {font-family: 'BrixSlab-Regular';src: url('https://sensebox.de/css/webfonts/2EF157_1_0.eot');src: url('https://sensebox.de/css/webfonts/2EF157_1_0.eot?#iefix') format('embedded-opentype'),url('https://sensebox.de/css/webfonts/2EF157_1_0.woff2') format('woff2'),url('https://sensebox.de/css/webfonts/2EF157_1_0.woff') format('woff'),url('https://sensebox.de/css/webfonts/2EF157_1_0.ttf') format('truetype');}

html, body {
    height: 100%;
    padding: 0;
}

body {
    font-family: BrixSlab-Regular, Helvetica, sans-serif;	
}

h1 {
    margin: 0;
    padding-top: 3em;
    color: #4EAF47;
}

.contain-everything {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.inner-contain {
    width: 100%;
}

.link-container {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    background: #f2f2f2;
    padding: 2em 0;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap; 
    flex-wrap: wrap;   
}

.selector {
    padding: 2em 0;
}

@media only screen and (max-width: 450px){
    .selector img {
        max-width: 250px !important;
    }
}
@media only screen and (min-width: 450px){
    .selector img {
        max-width: 400px;
    }
}

.selector:hover a {
    color:  #4EAF47;
}

.selector a {
    text-decoration: none;
    color: black;
}

.help-section {
    padding: 2em 0;
}

.link-list a {
    padding: 0 0.5em;
}
